# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=change_me
MONGO_STAGING_DB=staging_db
MONGO_MART_DB=mart_db

# Trino
TRINO_HOST=localhost
TRINO_PORT=8080
TRINO_CATALOG=mongodb
TRINO_USER=trino_user

# Metabase
MB_DB_TYPE=starburst
MB_DB_HOST=trino
MB_DB_PORT=8080
MB_DB_CATALOG=mongodb
MB_DB_SCHEMA=mart_db
MB_ADMIN_EMAIL=admin@example.com
MB_ADMIN_PASSWORD=change_me1
